@model List<WeatherMvc.Models.WeatherData>

@{
    ViewBag.Title = "Weather";
    Layout = "_Layout";
}

<h5 style="text-align:center;">Weather Data From WeatherForecastAPI</h5>

<table class="table table-hover">
    <tr>
        <th>Date</th>
        <th>Summary</th>
        <th>TemperatureF</th>
        <th>TemperatureC</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToString("dd.mm.yyyy")</td>
            <td>@item.Summary</td>
            <td>@item.TemperatureF</td>
            <td>@item.TemperatureC</td>
        </tr>
    }
</table>